@model IEnumerable<HubFintech.Models.Conta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorContav)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SituacaoConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.CNPJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorContav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SituacaoConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.CNPJ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDConta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDConta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDConta })
        </td>
    </tr>
}

</table>
