@model IEnumerable<HubFintech.Models.transferencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValorTransferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conta.TipoConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conta1.TipoConta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTransferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta.TipoConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta1.TipoConta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTransferencia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTransferencia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTransferencia })
        </td>
    </tr>
}

</table>
